@font-face {
  src: url("../../vendor/fonts/CabinetGrotesk-Variable.ttf") format("woff");
  font-family: "CabinetGrotesk";
}

.card {
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card__name {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  padding: 0 8px; /* instead of fixed width */
  height: 24px;
  top: 15px;
  margin: 0;
  font-family: CabinetGrotesk, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.card__image {
  display: flex;
  border: 1px solid black;
  border-radius: 20px;
  width: 100%;
}
